 .container{
    display: flex;
    position: fixed;
}
.logo img{
    margin-left: 70px;
    margin-top: 1px;
    width: 90px;
    height: 70px;
    
} 
.nav{
    margin-left: 70px;
    margin-top: 20px;
    width: 100%;
    height: 50px;
    background-color: brown;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    gap: 2rem;
    text-align:right;
    justify-content: right;
} 
.menu{
    display: flex;
    gap: 2rem;
    padding: 10px;
    /* margin-left: 500px; */
    /* font-weight: 500; */
    /* margin: 10px; */
    /* margin-bottom: 9px; */
}





.navigation.navbar {
     float: right;
     background: rgb(221, 195, 195);
     clear: both;
     padding: 23px 25px !important;
     border-radius: 64px;
}

.navigation.navbar-dark .navbar-nav .nav-link {
     padding: 0 20px;
     color: #070404;
     font-size: 20px;
     line-height: 22px;
     font-weight: 500;
}

.navigation.navbar-dark .navbar-nav .nav-link:focus,
.navigation.navbar-dark .navbar-nav .nav-link:hover {
     color: #03cafc;
}

.navigation.navbar-dark .navbar-nav .active>.nav-link,
.navigation.navbar-dark .navbar-nav .nav-link.active,
.navigation.navbar-dark .navbar-nav .nav-link.show,
.navigation.navbar-dark .navbar-nav .show>.nav-link {
     color: #03cafc;
}

.navbar-expand-md .navbar-nav {
     padding-right: 10px;
}

.login_btn a {
     background: #03cafc;
     padding: 9px 32px !important;
     display: inline;
     border-radius: 20px;
     color: #fff !important;
     margin: 0 10px;
}

.login_btn a:hover {
     background: #000 !important;
}

.sea_icon a {
     color: #d1c6c6 !important;
}

.header {
     width: 100%;
     padding: 30px 30px;
     background: transparent;
     position: absolute;
     z-index: 999;
     border-top: #090102 solid 11px;
}

.logo {
     padding-top: 14px;
}
/* ////////////////////////// */

.banner_main {
    background: #16b4b4;
    padding: 198px 0px 90px 0px;
}

.text-bg {
    text-align: center;
}

.text-bg h1 {
    color: #070404;
    font-size: 60px;
    line-height: 76px;
    padding-bottom: 45px;
    font-weight: bold;
    text-transform: uppercase;
}

.text-bg .read_more {
    border: #1a1a1a solid 2px;
    color: #1a1a1a !important;
    font-weight: 500;
    display: block;
    margin: 0 auto;
    margin-top: 44px;
}

#banner1 .carousel-caption {
    position: inherit;
    padding: 0;
}

#banner1 .carousel-indicators {
    display: none;
}

#banner1 .carousel-control-prev,
#banner1 .carousel-control-next {
    width: 62px;
    height: 60px;
    background: transparent;
    border: #1a1a1a solid 2px;
    opacity: 1;
    font-size: 30px;
    color: #131215;
    border-radius: 60px;
    top: 43%;
}

#banner1 .carousel-control-prev:hover,
#banner1 .carousel-control-next:hover,
#banner1 .carousel-control-prev:focus,
#banner1 .carousel-control-next:focus {
    background: transparent;
    border: #03cafc solid 2px;
    color: #03cafc;
}

#banner1 a.carousel-control-prev {
    position: absolute;
    left: 20px;
    bottom: 10px;
}

#banner1 a.carousel-control-next {
    position: absolute;
    right: 20px;
    bottom: 10px;
}


/** end banner section **/

.titlepage h2 {
    font-size: 35px;
    color: #2a2a2c;
    line-height: 45px;
    font-weight: bold;
    padding: 0;
}

.d_flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.read_more {
    font-size: 17px;
    background-color: transparent;
    border: #ffffff solid 2px;
    color: #1a1a1a;
    padding: 15px 0px;
    width: 100%;
    max-width: 222px;
    text-align: center;
    display: inline-block;
    transition: ease-in all 0.5s;
    font-weight: 500;
    border-radius: 40px;
}

.read_more:hover {
    background: #03cafc;
    color: #fff !important;
    transition: ease-in all 0.5s;
}
